{% extends 'base.html' %}

{% block head %}

<title>Profile</title>

{% endblock %}

{% block body %}
<div class="container">
    <h1>Account</h1>
    <a href="/accounts/profile/edit/" class="btn btn-outline-primary btn-sm">Edit</a>
    <a href="/accounts/change_password" class="btn btn-outline-primary btn-sm">Change Password</a>
    <a href="/accounts/reset_password" class="btn btn-outline-primary btn-sm">Reset Password</a>
    <a href="/accounts/logout" class="btn btn-outline-primary btn-sm">Logout</a>
    <div style="margin-top: 20px">
        <div class="row">
            <div class="col-2">
                {% if user.userprofile.image %}
                <img src="{{ user.userprofile.image.url }}" width="100px" height="100px">
                {% endif %}
            </div>
            <div class="col">
                <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                <h3>{{ user }}</h3>
                <h3>{% if user.email %}{{ user.email }}{% endif %}</h3>
                <h3>{% if user.userprofile.date_of_birth %}{{ user.userprofile.date_of_birth }}{% endif %}</h3>
                <h3>{% if user.userprofile.address %}{{ user.userprofile.address }}{% endif %}</h3>
                <h3>{% if user.userprofile.phone_number %}{{ user.userprofile.phone_number }}{% endif %}</h3>
                {% if user.userprofile.is_admin %}
                <a href="/admin/" class="btn btn-outline-success btn-sm">Admin</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}